.btn {
    display: inline-block;
    padding: var(--spacing-btn) var(--spacing-btn);
    border-radius: var(--radius-sm);
    font-size: var(--font-btn);
    cursor: pointer;
}

.btn--primary {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}
