:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary: #FF5555;
    --color-danger: #dc3545;

    --color-light: #D9D9D9;
    --color-dark: #5F5F5F;
    --color-link: #0073CC;

    --color-select-option-active: #5599EB;
    --color-select-bg: #636769;

    
    --font-xs: 0.75rem;
    --font-sm: 1rem; /*16px*/
    --font-md: 1.125rem; /*18px*/
    --font-lg: 1.25rem; /*20px*/
    --font-xl: 1.5rem; /*24px*/
    --font-2xl: 2.25rem; /*36px*/
    --font-3xl: 2.8125rem; /*45px*/

    --font-input-label: var(--font-md);
    --font-btn: var(--font-md);
    --font-card-label: var(--font-sm);
    --font-content: var(--font-md);
    --font-content-dtl: var(--font-sm);
    --font-heading: var(--font-xl);
    --font-title: var(--font-xl);

    --spacing-xxs: 0.25rem;/* 4px */
    --spacing-xs: 0.5rem;/* 8px */
    --spacing-sm: 0.75rem; /* 12px */
    --spacing-md: 1rem;/* 16px */
    --spacing-lg: 1.5rem;/* 24px */
    --spacing-xl: 2rem;/* 32px */
    --spacing-2xl: 3rem;    /* 48px */
    --spacing-3xl: 4rem;

    --spacing-section: var(--spacing-2xl); /* セクション間 */
    --spacing-card: var(--spacing-xl); /* カード間やパディング */
    --spacing-input: var(--spacing-sm);/* インプットの内側余白 */
    --spacing-form-group: var(--spacing-xs);/* 入力項目ごとの間隔 */
    --spacing-btn: var(--spacing-sm);/* ボタンの内側余白 */
    --spacing-inline: var(--spacing-xs);/* インライン要素の間 */

    --radius-sm: 3px;
    --radius-md: 6px;
    --radius-lg: 12px;
    --radius-pill: 9999px;

    --lh-tight: 1.2;
    --lh-base: 1.5;
    --lh-loose: 1.75;
}
